
.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.parent div{
    border: 1px solid black;
    text-align: center;
}
    
.div1 {
    grid-column: span 12 / span 12;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 3;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row-start: 4;
}

.div7 {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 4;
}

.div9 {
    grid-column-start: 9;
    grid-row-start: 4;
}

.div10 {
    grid-column: span 2 / span 2;
    grid-column-start: 10;
    grid-row-start: 4;
}

.div11 {
    grid-column-start: 12;
    grid-row-start: 4;
}

.div12 {
    grid-column: span 2 / span 2;
    grid-row-start: 5;
}

.div14 {
    grid-column: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 5;
}

.div15 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 5;
}

.div16 {
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 5;
}

.div17 {
    grid-column-start: 11;
    grid-row-start: 5;
}

.div18 {
    grid-column-start: 12;
    grid-row-start: 5;
}

.div19 {
    grid-column: span 2 / span 2;
    grid-row-start: 6;
}

.div20 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 6;
}

.div21 {
    grid-column-start: 5;
    grid-row-start: 6;
}

.div22 {
    grid-column-start: 6;
    grid-row-start: 6;
}

.div23 {
    grid-column: span 2 / span 2;
    grid-column-start: 7;
    grid-row-start: 6;
}

.div24 {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    grid-row-start: 6;
}

.div25 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 7;
}

.div26 {
    grid-column: span 10 / span 10;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
}

.div29 {
    grid-column: span 12 / span 12;
    grid-row-start: 9;
}

.div30 {
    grid-column: span 2 / span 2;
    grid-row-start: 10;
}

.div31 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 10;
}

.div32 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 10;
}

.div36 {
    grid-column-start: 8;
    grid-row-start: 10;
}

.div37 {
    grid-column-start: 9;
    grid-row-start: 10;
}

.div38 {
    grid-column-start: 10;
    grid-row-start: 10;
}

.div39 {
    grid-column-start: 11;
    grid-row-start: 10;
}

.div40 {
    grid-column-start: 12;
    grid-row-start: 10;
}

.div41 {
    grid-column-start: 7;
    grid-row-start: 10;
}

.div42 {
    grid-column: span 2 / span 2;
    grid-row-start: 11;
}

.div43 {
    grid-column: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 11;
}

.div44 {
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 11;
}

.div45 {
    grid-column-start: 7;
    grid-row-start: 11;
}

.div46 {
    grid-column-start: 8;
    grid-row-start: 11;
}

.div47 {
    grid-column-start: 9;
    grid-row-start: 11;
}

.div48 {
    grid-column-start: 10;
    grid-row-start: 11;
}

.div49 {
    grid-column-start: 11;
    grid-row-start: 11;
}

.div50 {
    grid-column-start: 12;
    grid-row-start: 11;
}
         